includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5

    ignoreErrors:
        # Trait methods rely on Eloquent Model behaviour available only on
        # the classes that `use` App\Models\Concerns\HasRoles.
        - '#Call to an undefined method App\\Models\\Concerns\\HasRoles::#'

    excludePaths:
        - app/Providers/*ServiceProvider.php
